@import url("../utils/colors.css");
@import url("../utils/fonts.css");

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-label {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-dark);
  text-align: center;
}

.input-login-view {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--text-dark);
  border-radius: 8px;
}

input::placeholder {
  color: var(--text-dark);
}

.login-btn,
.register-btn,
.forgot-password-btn {
  color: var(--primary-white);
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn {
  background-color: var(--secondary-green);
  margin-top: 15px;
}

.login-btn:hover {
  background-color: var(--button-hover-green);
}

.register-btn {
  background-color: var(--primary-blue);
}

.register-btn:hover {
  background-color: var(--button-hover-accent);
}

.forgot-password-btn {
  color: var(--primary-blue);
  background: none;
  border: none;
  cursor: pointer;
}

.forgot-password-btn:hover {
  color: var(--button-hover-accent);
}

.login-additional-options a {
  text-decoration: none;
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.login-additional-options a:hover {
  color: var(--primary-blue);
}
