@import url("../utils/colors.css");
@import url("../utils/fonts.css");

.login-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../assets/bitcoin.avif") center/cover no-repeat;
  font-family: var(--primary-font);
}

.login-content {
  min-width: 35vw;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px var(--box-shadow);
  background-color: var(--background-light);
}

.login-heading {
  text-align: center;
  color: var(--primary-blue);
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(var(--primary-blue-rgb), 0.3);
  animation: titleAnimation 0.8s ease;
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-label {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-dark);
  text-align: center;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--text-dark);
  border-radius: 8px;
}

input::placeholder {
  color: var(--text-dark);
}

.login-btn,
.register-btn,
.forgot-password-btn {
  color: var(--primary-white);
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-btn {
  background-color: var(--secondary-green);
  margin-top: 15px;
}

.login-btn:hover {
  background-color: var(--button-hover-green);
}

.register-btn {
  background-color: var(--primary-blue);
}

.register-btn:hover {
  background-color: var(--button-hover-accent);
}

.forgot-password-btn {
  color: var(--primary-blue);
  background: none;
  border: none;
  cursor: pointer;
}

.forgot-password-btn:hover {
  color: var(--button-hover-accent);
}

.login-additional-options {
  display: flex;
  justify-content: space-between;
}

.login-additional-options a {
  text-decoration: none;
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.login-additional-options a:hover {
  color: var(--primary-blue);
}
